<% provide(:title, "New User") %>

<div class="container text-center">
	<h3>New User</h3>

	<%= form_for @user do |f| %>
		<%= render 'shared/error', object: f.object %>
		<%= f.label :user %>
		<%= f.text_field :user %><br>

		<%= f.label :name %>
		<%= f.text_field :name %><br>

		<%= f.label :email %>
		<%= f.text_field :email %><br>


		<%= f.submit 'Submit', :class => "btn btn-default" %>
	<% end %>
</div>