<% provide(:title, "User Info") %>

<div class="container text-center">
	<h3><%= @user.user%>'s profile</h3>

	<div class="text-left user-data well">
		<p><strong>Name</strong></p>
		<p><%= @user.name %></p>
		<% if current_user.id == @user.id %>
			<p><strong>Email</strong></p>
			<p><%= @user.email %></p>
		<% end %>
		
		<p><strong>Hosted Events</strong></p>
		<% if @user.created_events.any? %>
			<% @user.created_events.each do |event| %>
				<%= link_to event.title, event_info_path(event.id) %>
				<br>
			<% end %>
		<% else %>
			<p>No hosted events</p>
		<% end %>

		<p><strong>Previously attended Events</strong></p>
		<% if @prev_events.any? %>
			<% @user.attended_events.each do |event| %>
				<%= link_to event.title, event_info_path(event.id) %>
				<br>
			<% end %>
		<% else %>
			<p>No previously attended events</p>
		<% end %>

		<p><strong>Upcoming Events</strong></p>
		<% if @upcoming_events.any? %></div>
			<% @user.upcoming_events.each do |event| %>
				<%= link_to event.title, event_info_path(event.id) %>
				<br>
			<% end %>
		<% else %>
			<p>No upcoming events</p>
		<% end %>	

		<!--
		<% if @user.id == current_user.id %>
			<hr>
			<p><strong>Pending Invites</strong></p>
		<% end %>
		-->
	</div>

</div>