<% provide(:title, "Event Info") %>


<div class="container text-center">
	<h3>Event Information</h3>
	
	<% if !flash[:success].nil? %> <!-- Error popup for entering blank data -->
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong><%= flash[:success] %></strong>
		</div>
	<% end %>

	<div class="event-info text-left">
		<p><strong>Host</strong></p>
		<p><%= @event.creator.name %></p>
		<p><strong>Title</strong></p>
		<p><%= @event.title %></p>
		<p><strong>Description</strong></p>
		<p><%= @event.descript %></p>
		<p><strong>Location</strong></p>
		<% if !@event.location.nil? %>
			<p><%= @event.location %></p>
		<% else %>
			<p>None specified</p>
		<% end %>
		<p><strong>Time</strong></p>
		<p><%= @event.date %></p>
	
		<h4>Attendees</h4>
		<% if @event.attendees.any? %>
			<p><%= @event.attendees.name %></p>
		<% else %>
			<p>No one is attending</p>
		<% end %>
	</div>
	<% if signed_in? && current_user.id != @event.creator.id %>
		<%= link_to "Attend Event", attend_path(@event.id), :class => "btn btn-default" %>
	<% end %>
</div>