<% provide(:title, "Event Info") %>


<div class="container text-center">
	<h3>Event Information</h3>
	
	<% if !flash[:success].nil? %> <!-- Error popup for entering blank data -->
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong><%= flash[:success] %></strong>
		</div>
	<% end %>

	<div class="event-info text-left well">
		<p><strong>Host</strong></p>
		<%= link_to @event.creator.name, user_info_path(@event.creator.id) %>
		<p><strong>Title</strong></p>
		<p><%= @event.title %></p>
		<p><strong>Description</strong></p>
		<p><%= @event.descript %></p>
		<p><strong>Location</strong></p>
		<% if !@event.location.nil? %>
			<p><%= @event.location %></p>
		<% else %>
			<p>None specified</p>
		<% end %>
		<p><strong>Time</strong></p>
		<p><%= @event.date %></p>
	
		<h4>Attendees</h4>
		<% if @attendee.any? %>
			<% @attendee.each do |attendee| %>
			<%= link_to attendee.name, user_info_path(attendee.id) %>
			<br>
			<% end %>
		<% else %>
			<p>No one is attending</p>
		<% end %>
	</div>
	
	<% if signed_in? && current_user.id != @event.creator.id && @event.date > DateTime.now %>
		<%= form_for @event, :url => {:action => "attend"} do |f| %>
			<%= f.hidden_field :attendees, :value => current_user.id %>
			<%= f.hidden_field :attended_events, :value => @event.id %>
			<%= f.submit 'Attend Event', :class => "btn btn-default" %>
		<% end %>
	<% end %>
</div>